/* CSS reset*/
body, html {
  margin: 0;
  padding: 0;
  display: flex;
  height: 100%;
  width: 100%;
}
/*end reset*/

.highlighted {
  border: 5px solid gold;
}

#mainPanel {
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  
}

#navbar {
  background-color: #FF4;
  height: 10%;
  width: 100%;
}

#main {
  background-color: #5d5;
  height: 90%;
  width: 100%;
  border-radius:.5em;
}

#opponent {
  height: 50%;
  width: 100%;
}

#home {
  height: 50%;
  width: 100%;
}

.card {
  width: calc((100% - 10px)/4);
  height: 100%;
}

.hand {
  height: 33%;
  width: 100%;
  order: 2;
}

.board {
  height: 33%;
  width: 100%;
  order: 1;
}

.slot {
  display: inline-flex;
  border: 1px solid red;
  width: calc((100% - 6px)/3);
  height: calc(100% - 3px); 
}

#opponent {
  height: 50%;
  width: 100%;
}

#home {
  height: 50%;
  width: 100%;
}