<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width = device-width, initial-scale = 1">
	<title>Grit</title>
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	
	<!--only the most high-level elements. the rest will be dynamically rendered inside these atomic parts-->
	<div id="sidePanel"></div> 
	<div id="mainPanel">
		<nav id="navbar"></nav>
		<div id="main"></div>
	</div>
	
	<!--load the required libraries-->
	<script src="/js/lib/underscore.js"></script>
	<script src="/js/lib/jquery.js"></script>
	<script src="/js/lib/backbone.js"></script>
	
	<!--intialize the app's namespacing-->
	<script src="/js/init.js"></script>
	
	<!--initialize Templates-->
	<script type=text/template src="..template/navbar.html"></script>
	<script type=text/template src="..template/sidePanel.html"></script>
	<script type=text/template src="..template/grit.html"></script>
	
	<!--extend Backbone Model constructors-->
	<script src="/js/grit/models/game.js"></script>
	
	<!--extend Backbone Collection constructors-->
	
	<!--extend Backbone View constructors-->
	<script src="/js/settings/views/navbar.js"></script>
	<script src="/js/grit/views/grit.js"></script>
	<script src="/js/settings/views/sidePanel.js"></script>
	
	<!--extend Backbone Router constructors-->
	<script src="/js/grit/routers/router.js"></script>
	
	<!--kickoff the app-->
	<script src="/js/grit.js"></script>
</body>
</html>
