<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width = device-width, intial-scale = 1">
	<title>Grit</title>
	<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
	<div id="sidePanel">
		side Panel!
		<div id="user">
			Rich
		</div>
		<div id="stats">
			Stats here!
		</div>
		<chat>
			Chat box!
		</chat>
	</div> 
	<div id="mainPanel">
		<nav id="navbar">
			{{game}}
		</nav>
		<div id="main">
			<div id="opponent">
				<div class="hand">
					Opponent's hand
				</div>
				<div class="board">
					<div class="slot">
						<svg src="{{url_for('static', filename='Grit_Cards/2H.svg')}}">
					</div>
					<div class="slot">slot</div>
					<div class="slot">slot</div>
				</div>
			</div>
			<div id="home">
				<div class="board">
					<div class="slot">
						<img src="{{url_for('static', filename='Grit_Cards/back.svg')}}" height=100%>
					</div>
					<div class="slot">
						<!--<img src="Grit Cards/back.svg" height=100%>-->
					</div>
					<div class="slot">slot</div>
				</div>
				<div class="hand">
					My hand
				</div>
			</div>
		</div>
	</div>
	<script src="{{url_for('static', filename='js/lib/underscore.js')}}"></script>
	<script src="{{url_for('static', filename='js/lib/jquery.js')}}"></script>
	<script src="{{url_for('static', filename='js/lib/backbone.js')}}"></script>
	<script src="{{url_for('static', filename='js/app.js')}}"></script>
	<script src="{{url_for('static', filename='js/views/game.js')}}"></script>
	<script src="{{url_for('static', filename='js/models/game.js')}}"></script>
	<script type="text/javascript">
		console.log(grit);
		new grit.Views.Game();
	</script>
</body>
</html>
