<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width = device-width, initial-scale = 1">
	<title>Grit</title>
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	
	<!--only the most high-level elements. the rest will be dynamically rendered inside these atomic parts-->
	<div id="mainPanel">
		<nav id="navbar"></nav>
		<div id="main"></div>
	</div>
	
	<!--load the required libraries-->
	<script src="/js/lib/underscore.js"></script>
	<script src="/js/lib/jquery.js"></script>
	<script src="/js/lib/backbone.js"></script>
	
	<!--intialize the app's namespacing-->
	<script src="/js/init.js"></script>
	
	<!--initialize Templates-->
	<script type="text/template" id="navbarTemplate">
    <% _.each(navObjs, function(navObj) { %>
      <div id= <%= navObj.id %> > <%= navObj %> </div> 
    <% }); %>
	</script>
	<script type="text/template" id="gritTemplate">
	  <div id="opponent">
			<div class=”hand”>
			  <% _.each(cards, function(card) { %>
			    <img src= <%="/Grit_Cards/"+ card + ".svg"%> >
			  <% }); %>
			</div>
			<div class="board">
				<div class="slot">
					<img src= <%= "/Grit_Cards/" + players[0].board + ".svg"%> height=100% width=100%>
				</div>
				<div class="slot">slot</div>
				<div class="slot">slot</div>
			</div>
		</div>
		<div id="home">
			<div class="board">
				<div class="slot">
					<img src=<%= "/Grit_Cards/" + players[1].board + ".svg"%> height=100% width=100%>
				</div>
				<div class="slot"></div>
				<div class="slot">slot</div>
			</div>
			<div class="hand"></div>
		</div>
	</script>
	<script type="text/template" id="sidePanelTemplate">
    <div id="user"> <%= user.id %> </div>
    <div id="stats"> <%= user.rating %> </div>
	</script>
	<script type="text/template" id="cardTemplate">
		<img src= <%=src%> >
	</script>
	
	<!--extend Backbone Model constructors-->
	<script src="/js/grit/models/card.js"></script>
	<script src="/js/grit/models/player.js"></script>
	<script src="/js/grit/models/game.js"></script>
	<script src="/js/grit/models/board.js"></script>
	
	<!--extend Backbone Collection constructors-->
	<script src="/js/grit/collections/slot.js"></script>
	<script src="/js/grit/collections/hand.js"></script>
	
	<!--extend Backbone View constructors-->
	<script src="/js/app/views/navbar.js"></script>
	<script src="/js/grit/views/game.js"></script>
	<script src="/js/grit/views/board.js"></script>
	<script src="/js/grit/views/slot.js"></script>
	<script src="/js/grit/views/hand.js"></script>
	<script src="/js/grit/views/card.js"></script>
	<script src="/js/app/views/sidePanel.js"></script>
	
	<!--Controllers-->
	<script src="/js/grit/controller.js"></script>
	
	<!--extend Backbone Router constructors-->
	<script src="/js/app/routers/router.js"></script>
	
</body>
</html>
